{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
  <div class="row">
    <div class="col s12">
      <div class="col s12 m4">
        <div class="card white lighten-1" style="border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
          <div class="card-content white-text">
            <img class="materialboxed responsive-img" width="100%" src="{% static 'images/profile.png' %}" />
            <br />
            <span class="card-title blue-grey-text lighten-4 center-align">Daiyan Alam</span>
            <p class="green-text" id="python">Full-stack Python developer</p>
          </div>
          <div class="card-action center-align">
            <a class="blue-text" href="https://www.linkedin.com/in/daiyan-alam-27a076224/" target="_blank">LinkedIn</a>
            <a class="blue-text" href="https://github.com/daiyan52" target="_blank">Github</a>
          </div>
        </div>
      </div>
      <div class="col s12 m8">
        <div class="card white darken-1" style="border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
          <div class="card-content blue-text">
            <span class="card-title green-text">About Me</span>
            <hr class="bg-danger" />
            <p class="blue-grey-text lighten-4">
              I am a <span class="teal-text">Python developer</span> with a strong proficiency in <span class="teal-text">Django and Django REST API.</span> 
              I have experience building web applications and APIs, leveraging the robust features 
              and scalability offered by these frameworks. My portfolio includes projects demonstrating 
              my expertise in backend development, data management, and API design using Python and Django 
              technologies
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    #python{
      font-size: 12px;
      display:flex;
      justify-content: end;
      font-family: cursive;
    }
    .card-action a{
       font-size: 15px;
       font-family:'Courier New', Courier, monospace
    }
    .card-action a:hover{
       opacity: 0.3;
    }
  </style>
{% endblock %}
