{% extends 'pages/base.html' %}

{% block content %}

<div class="row">
    <div class="col s12">
        <div class="col s12 m4">
            <div class="card-panel" style="border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
                <div class="card-content">
                    <p class="amber-text"><strong>Bachelor Technology</strong></p>
                    <hr class="red-text">
                    <h5 class="green-text">Narula Institute of Technology</h5>
                    <h6 class="blue-text">2020 - Present</h6>
                    <p class="blue-grey-text lighten-4">
                        I'm studying B.Tech in Information Technology at Narula Institute of Technology, 
                        maintaining a strong  <span class="teal-text">83.90%</span> in my 7th semester
                    </p>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card-panel" style="border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
                <div class="card-content">
                    <p class="amber-text"><strong>Intermediate</strong></p>
                    <hr class="red-text">
                    <h5 class="green-text">Bhagwanpur College</h5>
                    <h6 class="blue-text">2017 - 2019</h6>
                    <p class="blue-grey-text lighten-4">
                        I received a great <span class="teal-text">76.20%</span> in my 12th grade education, 
                        indicating my strong academic achievement and dedication 
                        to excellence
                    </p>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card-panel" style="border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
                <div class="card-content">
                    <p class="amber-text"><strong>Matriculation</strong></p>
                    <hr class="red-text">
                    <h5 class="green-text">S S High School, Bhagwanpur Hat</h5>
                    <h6 class="blue-text">2016-2017</h6>
                    <p class="blue-grey-text lighten-4">
                        I did really well in my 10th-grade exams, scoring  <span class="teal-text">78.60%</span>
                        This shows how much I care about doing my best in school 
                        and learning new things
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card-panel {
        height: auto; /* Remove fixed height for mobile view */
        overflow: hidden;
        padding: 15px; /* Add padding for better readability */
    }
</style>
{% endblock %}
